[submodule "luci-app-adguardhome"]
	path = luci-app-adguardhome
	url = https://github.com/kongfl888/luci-app-adguardhome.git
[submodule "luci-app-wechatpush"]
	path = luci-app-wechatpush
	url = https://github.com/tty228/luci-app-wechatpush.git
[submodule "openwrt-fullconenat"]
	path = openwrt-fullconenat
	url = https://github.com/llccd/openwrt-fullconenat.git
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
[submodule "luci-app-udp2raw"]
	path = luci-app-udp2raw
	url = https://github.com/sensec/luci-app-udp2raw.git
[submodule "openwrt-udp2raw"]
	path = openwrt-udp2raw
	url = https://github.com/sensec/openwrt-udp2raw.git
[submodule "luci-app-poweroff"]
	path = luci-app-poweroff
	url = https://github.com/esirplayground/luci-app-poweroff
[submodule "luci-theme-alpha"]
	path = luci-theme-alpha
	url = https://github.com/derisamedia/luci-theme-alpha.git
